<!DOCTYPE html>
<html lang="en">
<style>
p, a, #search_field, #search_bar, .navbar-form, .navbar-left{
  font-family: 'Merriweather Sans', sans-serif;
  font-color: #110000;
}
h1, h2{
  font-family: 'Merriweather', serif;
}
body{
  background-color: #fbf9f3;
}

.container-fluid{
  font-color: #110000;
  background-color: #f5f0e0;
  border-bottom-color: #881920;
  border-bottom-style: solid;
}

.navbar-default, .navbar-brand, .navbar-nav{
  font-color: #881920;
  color: #110000;
}



</style>
<head>
    <title>The Swamp</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Merriweather|Merriweather+Sans" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand" href="/">The Swamp</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/committees">Committees</a></li>
            <li><a href="/pick-relationships">Senator Relationships</a></li>
            <li><a href="/senators">Senators</a></li>
            <li><a href="/bills">Bills</a></li>
            <li><a href="/tags">Tags</a></li>
          </ul>
          <form class="navbar-form navbar-left" action='/search'>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search" id='search_bar'name = 'nav_search'>
            </div>
            <button type="submit" id="search_field" class="btn btn-default">Search</button>
          </form>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    {% block content %}
    {% endblock %}
</body>
</html>