{% extends 'base.html' %}
{% block content %}
<div class="well spaced" style="width:97%">
    <h2>{{ bill.bill_id }}: {{ bill.title }}</h2>

    <p>Date proposed: {{ bill.date.strftime('%m-%d-%Y') }}</p>
    <p>Description: {{ bill.description |safe }}</p>

    <p>Actions taken:</p>
    <ul>
        {% for item in action %}

            <li>
                {{ item.date.strftime('%m-%d-%Y') }}: {{ item.action_text}}

            </li>

        {% endfor %}
    </ul>

    <p>Bill Sponsors:<p>
    <ul>
        {% for senator_item in senators_sponsored %}
            {% for senator_info in senator_item %}
                <li>
                    <a href="/senators/{{ senator_info.name }}">{{ senator_info.name}} ({{senator_info.party}})</a>
                </li>
            {% endfor %}
        {% endfor %}
    </ul>

</div>
{% endblock %}