{% extends 'base.html' %}
{% block content %}
<div class="well spaced" style="width:97%">
    <h2>{{ bill.bill_id }}: {{ bill.title }}</h2>

    <p>Date proposed: {{ bill.date.strftime('%m-%d-%Y') }}</p>
    <p>Bill Progressive score: {{bill_score}}/100</p>
    <p>Description: {{ bill.description |safe }}</p>

    {% if timeline_approved == True %}
         <link title="timeline-styles" rel="stylesheet" href="https://cdn.knightlab.com/libs/timeline3/latest/css/timeline.css">

         <script src="https://cdn.knightlab.com/libs/timeline3/latest/js/timeline.js"></script>

         <div id='timeline-embed' style="width: 100%; height: 600px"></div>

      <script type="text/javascript">
        timeline = new TL.Timeline('timeline-embed',
          '/static/timeline_events.json');
      </script>

        INSERT TIMELINE 

    {% endif %}

    <p>Actions taken:</p>
    <ul>
        {% for item in action %}

            <li>
                {{ item.date.strftime('%m-%d-%Y') }}: {{ item.action_text}}

            </li>

        {% endfor %}
    </ul>

    <p>Bill Sponsors:<p>
    <ul>
        {% for senator in senators_sponsored %}

                <li>
                    <a href="/senators/{{ senator.name }}">{{ senator.name}} ({{senator.party}})</a>
                </li>

        {% endfor %}
    </ul>

    <p>Associated Committees:<p>
    <ul>
        {% for committee_item in committees %}

                <li>
                    <a href="/committees/{{ committee_item.name }}">{{ committee_item.name }} </a>
                </li>

        {% endfor %}
    </ul>

</div>


{% endblock %}