{% extends 'base.html' %}
{% block content %}
<style>
  h1, h2{
    font-family: 'Merriweather', serif;
  }
  body{
    background-color: #fbf9f3;
  }
</style>
<div>
  <ul>
    <h1>Bills</h1>
    <ul>
      {% for bill in bills %}
          <li>
              <a href="/bills/{{ bill.bill_id }}">
                {{ bill.bill_id }}: {{ bill.title }} 
              </a>
          </li>
      {% endfor %}

      <div class="pagination">

      {% if page_num != 1 %}
        <a href="/bills?page={{page_num-1}}">&laquo;</a>
      {% endif %}

      {% for number in range(max_pages+1) %}
        {% if number != 0 %}
          <a href="/bills?page={{number}}">{{number}}</a>
        {% endif %}
      {% endfor %}

      {% if page_num != max_pages %}
        <a href="/bills?page={{page_num+1}}">&raquo;</a>
      {% endif %}

    </div>
    </ul>
  </ul>
</div>
{% endblock %}




