{% extends 'base.html' %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
 <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet"> 
{% block content %}

<style>
body{
  background-color: #fbf9f3;
}

h1{
    font-family: 'Merriweather', serif;
    font-size: 70px;
}
.container{
    background-color: #fbf9f3;
}

#sen_relationships{
    height:262px;
    width: 350px;
}

#spons_stats{
    height:277px;
    width: 350px;
}

#timeline{
    height:262px;
    width: 350px;
}

#homepage-title{
    text-align: center;
    color:#23150c;
}

.wig {
    height:50px;
    width:50px;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
}
.wig:hover {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

</style>

<div class='container'>
    <div class="col-lg-1" id='left_col'></div>
    <div class="col-lg-10">
        <div class="row">
            <div class="col-lg-12" id='header_block'>
                <h1 id="homepage-title"><img class="wig" src="../static/wig.png">  The Swamp  <img class="wig" src="../static/wig.png">
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <br>
                <br>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <img id="sen_relationships" src="../static/relationships.png">
            </div>
            <div class="col-xs-6">
                <p class='inline-block'>Select your representatives to view who they are co-sponsoring legislation with. Note that the width of the links between senators represents the frequency with which they collaborate on bills.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <img id="spons_stats" src="../static/spons_stats.png">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <img id="timeline" src="../static/timeline.png">
            </div>
        </div>
    </div>
    <div class="col-lg-1" id='right_col'></div> 
</div>




{% endblock %}