{% extends 'base.html' %}
{% block content %}

<style>
body{
  background-color: #fbf9f3;
}

h1{
    font-family: 'Merriweather', serif;
}

.senators{
    font-family: 'Merriweather', serif;
}

</style>

<ul>
    <p>Select the senators who you would like to view relationships between:</p>
    <ul>
        <form action="/senator-relationships" method="POST" name='relationships' class='senators'>
        <table>
            {% for senator_batch in senators|batch(5) %}
                <tr>
                    {% for senator in senator_batch %}
                        <td>
                            <input type="checkbox" name="senators" value="{{senator.name}}">{{senator.name}}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>

            <br>
            
            <input type="submit" value="Submit">
        </form> 
    </ul>
</ul>

{% endblock %}