{% extends 'base.html' %}
{% block content %}

<style>
body{
  background-color: #fbf9f3;
}

h1{
    font-family: 'Merriweather', serif;
}

.senators{
    font-family: 'Nunito', sans-serif;
}

</style>

<p>Select the senators who you would like to view relationships between:</p>
<ul>
    <form action="/senator-relationships" method="POST" name='relationships' class='senators'>
        {% for senator in senators %}
            <input type="checkbox" name="senators" value="{{senator.name}}">{{senator.name}}<br>
        {% endfor %}

        <br>

        <input type="submit" value="Submit">
    </form> 
</ul>

{% endblock %}