{% extends 'base.html' %}
{% block content %}
<style>

#progressive_score{
  background: linear-gradient(-90deg, #2085db, #f5f6c2, #cb2814);
  width: 300px;
  height: 40px;
}

</style>

<div class="well spaced" style="width:97%">
  <h2>{{ senator.name }}</h2>

  <p>State: {{ senator.state }}</p>

  {% if senator.party == 'D' %}
    <p>Party: Democrat</p>
  {% endif %}

  {% if senator.party == 'R' %}
    <p>Party: Republican</p>
  {% endif %}

  <p> Senator Ideology Score (with 100 being most Progressive): {{progressive_score}}/100</p>

  <div id='progressive_score'></div><br>

  <ul>
    <img src="{{ sen_image }}" alt="senator_image" style="width:290px;height:350px;">
  </ul>

  
  <br><a href="{{url_wiki}}"><p>Wikipedia:</a> {{senator_wiki}}</p>

  <p>Sponsored Bills:<p>
    <ul>
        {% for bill_item in bills_sponsored %}
            {% for bill_info in bill_item %}
                <li>
                    <a href="/bills/{{ bill_info.bill_id }}">{{ bill_info.bill_id }}: {{ bill_info.title }}</a>
                </li>
            {% endfor %}
        {% endfor %}
    </ul>
</div>

 
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

  <div id="sponsorshipChart"><!-- Plotly chart will be drawn inside this DIV --></div>
  <script>
  var data = [{
    x: ['0-20', '21-40', '41-60', '61-80', '81-100'],
    // y: [6, 5, 4, 3, 2],
    y: [{{y_axis.get('0-20')}}, {{y_axis.get('21-40')}}, {{y_axis.get('41-60')}}, {{y_axis.get('61-80')}}, {{y_axis.get('81-100')}}],
    type: 'bar'
  }];

  Plotly.newPlot('sponsorshipChart', data);
  </script>



{% endblock %}