{% extends 'base.html' %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

{% block content %}

<title>Senator Relationships</title>
<ul><h1>Senator Relationships</h1></ul>

<meta charset="utf-8">
<style>

.links line {
  stroke: #dfdfdf;
  stroke-opacity: 0.4;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}

text {
  font-family: sans-serif;
  font-size: 11.5px;
}

#loading_icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
</style>

<div class="container">
  <div class="table-responsive">
    <table class="table table-striped">
        <thead>
          <tr>
            <th>Senator Name</th>
            <th>Senator Name</th>
            <th>Number of Joint Sponsorships</th>
          </tr>
        </thead>
        {% for rel in track_relationships %}
          <tbody>
            <td>{{rel.get('source')}}</td>
            <td>{{rel.get('target')}}</td>
            <td>{{rel.get('value')}}</td>
          </tbody>
        {% endfor %}
    </table>
  </div>
</div>

<img src='../static/loading.gif' id='loading_icon'> 
<div class="conatainer"><svg width="1300" height="800"></svg></div>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="https://code.jquery.com/jquery.js"></script>
<script>

$('svg').hide();

function show_chart(){
  $('svg').show()
  $('#loading_icon').hide()
}
setTimeout(show_chart, 2500);

var svg = d3.select("svg"),
    width = +svg.attr("width"),
    height = +svg.attr("height");

var color = d3.scaleOrdinal()
.domain([0,1,2])
.range(['#e9412d', '#1f81d5', '#dedf75 ']);


var simulation = d3.forceSimulation()
    .force("link", d3.forceLink().id(function(d) { return d.id; }).distance(450).strength(1))
    .force("charge", d3.forceManyBody())
    .force("center", d3.forceCenter(width / 2, height / 2));

d3.json("/static/relationships.json", function(error, graph) {
  if (error) throw error;

  var link = svg.append("g")
      .attr("class", "links")
    .selectAll("line")
    .data(graph.links)
    .enter().append("line")
      .attr("stroke-width", function(d) { return Math.sqrt(d.value); });

  var node = svg.append("g")
      .attr("class", "nodes")
    .selectAll("g")
    .data(graph.nodes)
    .enter().append("g")
    
  var circles = node.append("circle")
      .attr("r", 7)
      .attr("fill", function(d) { return color(d.group); })
      .call(d3.drag()
          .on("start", dragstarted)
          .on("drag", dragged)
          .on("end", dragended));

  var lables = node.append("text")
      .text(function(d) {
        return d.id;
      })
      .attr('x', 6)
      .attr('y', 3);

  node.append("title")
      .text(function(d) { return d.id; });

  simulation
      .nodes(graph.nodes)
      .on("tick", ticked);

  simulation.force("link")
      .links(graph.links);

  function ticked() {
    link
        .attr("x1", function(d) { return d.source.x; })
        .attr("y1", function(d) { return d.source.y; })
        .attr("x2", function(d) { return d.target.x; })
        .attr("y2", function(d) { return d.target.y; });

    node
        .attr("transform", function(d) {
          return "translate(" + d.x + "," + d.y + ")";
        })
  }
});

function dragstarted(d) {
  if (!d3.event.active) simulation.alphaTarget(0.3).restart();
  d.fx = d.x;
  d.fy = d.y;
}

function dragged(d) {
  d.fx = d3.event.x;
  d.fy = d3.event.y;
}

function dragended(d) {
  if (!d3.event.active) simulation.alphaTarget(0);
  d.fx = null;
  d.fy = null;
}
</script>





{% endblock %}
 