{% extends 'base.html' %}
{% block content %}
<div class="well spaced" style="width:97%">
  <h2>{{ senator.name }}</h2>

  <p>State: {{ senator.state }}</p>

  {% if senator.party == 'D' %}
    <p>Party: Democrat</p>
  {% endif %}

  {% if senator.party == 'R' %}
    <p>Party: Republican</p>
  {% endif %}

  <p> Senator Ideology Score (with 100 being most Progressive): {{progressive_score}}/100</p>


  <ul>
    <img src="{{ sen_image }}" alt="senator_image" style="width:290px;height:350px;">
  </ul>

  
  <br><a href="{{url_wiki}}"><p>Wikipedia:</a> {{senator_wiki}}</p>

  <p>Sponsored Bills:<p>
    <ul>
        {% for bill_item in bills_sponsored %}
            {% for bill_info in bill_item %}
                <li>
                    <a href="/bills/{{ bill_info.bill_id }}">{{ bill_info.bill_id }}: {{ bill_info.title }}</a>
                </li>
            {% endfor %}
        {% endfor %}
    </ul>



</div>
{% endblock %}